/.Trash/
/.CFUserTextEncoding
/.DS_Store
/.config/
/.gitconfig
/.idlerc/
/.julia/
/.juliaup/
/.lesshst
/.local/
/.python_history
/.ssh/
/.viminfo
/.vscode/
/.zprofile
/.zprofile.pysave
/.zsh_history
/.zsh_sessions/
/.zshrc
/Desktop/
/Documents/
/Downloads/
/Library/
/Movies/
/Music/
/Pictures/
/Public/
/audio_out5_ready.mp3
/audio_out_.mp3
/audio_out_ready.mp3
/audio_out_ready4.mp3
/main.ru
/octave-workspace
/texlive-expex-glossonly/
/texlive-listlbls/
/vs/
/дз6/